.venv
.vscode
build
__pycache__

# documentation artifacts
_build/
_images/
__pycache__/
_static/
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/
__pycache__/

# avoid duplicating contributing.md due to conf.py
docs/contribute/index.md
docs/about/release-notes.md
docs/release/changelog.md
